---

---

<header class="header">
	<div class="console-log">console.log("Hello, World!");</div>
</header>

<style>
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 1rem;
		background: rgba(10, 10, 10, 0.9);
		height: 4rem;
		/* border-bottom: 2px solid var(--primary); */
		z-index: 1000;
	}

	.console-log {
		font-family: monospace;
		color: var(--primary);
		font-size: 1rem;
		text-align: center;
	}
</style>
